---
const { text = "banner tekst"} = Astro.props;
---
<div class="border-t-2 border-b-2 border-[#1e1c1c] py-2 overflow-hidden uppercase whitespace-nowrap">
  <div class="scrolling-text">
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
        {text}
      </span>
      <span class="px-8">
        {text}
      </span>
      <span class="px-8">
        {text}
      </span>
      <span class="px8">
        {text}
      </span>
      <span class="px-8">
        {text}
      </span>
  </div>
  <div class="scrolling-text whitespace-nowrap">
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
      {text}
    </span>
    <span class="px-8">
        {text}
      </span>
      <span class="px-8">
        {text}
      </span>
      <span class="px-8">
        {text}
      </span>
      <span class="px-8">
        {text}
      </span>
      <span class="px-8">
        {text}
      </span>
  </div>
</div>

<style>
    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
    .scrolling-text {
      display: inline-block;
      align-items: center;
      animation: scroll 50s linear infinite;
    }
  </style>